@import '../../../styles/shared.scss';

.ContactList {
  @extend %list;
}

.ContactListItem {
  display: flex;
  justify-content: space-between;
  width: 400px;
}

.ContactListItem:not(:last-child) {
  margin-bottom: 20px;
}
